@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");
#menu-toggle {
  display: none;
}

#welcome .container {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

body {
  background-color: #dbdbdb;
  color: #F1F5F9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("Images/DarkSouls.png") no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
  filter: brightness(50%);
}

.header {
  background-color: #1E293B;
  color: #F1F5F9;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}
.header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}
.header .back-button {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%) scale(1.05);
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: #F1F5F9;
  background: rgba(255, 255, 255, 0.1);
  padding: 8px 12px;
  border-radius: 5px;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.header .back-button img {
  width: 20px;
  margin-right: 5px;
}
.header .back-button:hover {
  background: rgba(255, 255, 255, 0.2);
}
.header .back-button:active {
  transform: translateY(-50%) scale(0.95);
}
.header .site-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding-left: 0;
}
.header .nav-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header .nav-links a {
  text-decoration: none;
  color: #F1F5F9;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}
.header .nav-links a:hover {
  color: #3B82F6;
}

.mode-button {
  margin-left: 20px;
  margin-left: 0px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: all 0.3s ease;
}
.mode-button img {
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: brightness(80%);
}
.mode-button:hover img {
  transform: scale(1.1);
  filter: brightness(100%);
}
.mode-button:active img {
  transform: scale(0.95);
}

.welcome {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.welcome .welcome-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
.welcome .welcome-divider .line {
  width: 600px;
  height: 4px;
  background-color: white;
  margin: 0 20px;
  border-radius: 50px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
.welcome .welcome-divider .sword-icon {
  width: 60px;
  height: auto;
  filter: brightness(0) invert(1);
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
.welcome h2 {
  font-size: 4.5rem;
  font-weight: bold;
}
.welcome p {
  font-size: 2rem;
  font-weight: 500;
}

.container {
  max-width: 1200px;
  width: calc(100% - 60px);
  margin: 20px auto;
  padding: 40px;
  box-sizing: border-box;
  background-color: rgba(100, 116, 139, 0.7);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.hero-container {
  background: linear-gradient(135deg, rgb(20, 31, 49) 0%, rgb(37, 60, 100) 100%);
  padding: 40px;
  border-radius: 15px;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.hero-image {
  flex: 1;
  text-align: center;
}
.hero-image img {
  width: 280px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.hero-text {
  flex: 2;
  color: #F1F5F9;
  margin-bottom: 20px;
}
.hero-text .hero-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 40px;
}
.hero-text h1 {
  margin-top: 0 !important;
  font-size: 2.5rem;
  color: #3B82F6;
  margin-bottom: 20px;
}
.hero-text p {
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 10px;
  font-weight: 500;
}

.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 12px 0;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.3s ease, transform 0.2s ease;
  color: white;
  background: rgb(26, 89, 172);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}
.contact-button img {
  width: 22px;
  height: 22px;
  margin-right: 8px;
  filter: invert(100%);
}
.contact-button:hover {
  transform: scale(1.05);
  background: #0b63f3;
}

.hobbies-container {
  background: linear-gradient(135deg, rgb(20, 31, 49) 0%, rgb(37, 60, 100) 100%);
  border-radius: 15px;
  padding: 40px;
  max-width: 1200px;
  margin: 60px auto;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

.hobbies-container h2 {
  font-size: 2.25rem;
  color: #3B82F6;
  margin-bottom: 30px;
}

.hobby-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.hobby-item {
  display: flex;
  align-items: center;
  gap: 15px;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease, background 0.3s ease;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.hobby-item img {
  width: 40px;
  height: 40px;
}
.hobby-item p {
  font-size: 1.2rem;
  color: #F1F5F9;
  font-weight: 500;
}
.hobby-item:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.strengths-weaknesses {
  background: linear-gradient(135deg, rgb(20, 31, 49) 0%, rgb(37, 60, 100) 100%);
  border-radius: 15px;
  padding: 60px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  margin-top: 60px;
  margin-bottom: 60px;
}
.strengths-weaknesses h2 {
  font-size: 2.25rem;
  color: #3B82F6;
  margin-bottom: 60px;
}
.strengths-weaknesses .strength-weakness-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: stretch;
}
.strengths-weaknesses .strength-weakness-container .strengths, .strengths-weaknesses .strength-weakness-container .weaknesses {
  flex: 1;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, background 0.3s ease;
}
.strengths-weaknesses .strength-weakness-container .strengths li, .strengths-weaknesses .strength-weakness-container .weaknesses li {
  margin-bottom: 15px;
  font-weight: 500;
}
.strengths-weaknesses .strength-weakness-container .strengths h3, .strengths-weaknesses .strength-weakness-container .weaknesses h3 {
  font-size: 1.5rem;
  color: #3B82F6;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.strengths-weaknesses .strength-weakness-container .strengths h3 .icon img, .strengths-weaknesses .strength-weakness-container .weaknesses h3 .icon img {
  width: 36px;
  height: auto;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.strengths-weaknesses .strength-weakness-container .strengths ul, .strengths-weaknesses .strength-weakness-container .weaknesses ul {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1.6;
}
.strengths-weaknesses .strength-weakness-container .strengths:hover, .strengths-weaknesses .strength-weakness-container .weaknesses:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.contact {
  background: linear-gradient(135deg, rgb(20, 31, 49) 0%, rgb(37, 60, 100) 100%);
  border-radius: 15px;
  padding: 60px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  margin-top: 60px;
}
.contact h2 {
  font-size: 2.25rem;
  color: #3B82F6;
  margin-bottom: 40px;
}
.contact p {
  font-size: 1.3rem;
  color: #F1F5F9;
  margin-bottom: 40px;
  font-weight: 500;
}
.contact .contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.contact .contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  max-width: 100%;
  padding: 12px 20px;
  text-align: center;
  white-space: nowrap;
  padding: 15px 20px;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  background: rgb(26, 89, 172);
  color: white;
  transition: background 0.3s ease, transform 0.2s ease;
  margin-bottom: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.contact .contact-button img {
  width: 28px;
  height: auto;
  filter: invert(1);
  margin-right: 12px;
}
.contact .contact-button:hover {
  background: #0b63f3;
  transform: scale(1.05);
}
.contact .contact-button:active {
  transform: scale(0.95);
}

.footer {
  width: 100%;
  background: #1E293B;
  color: #F1F5F9;
  font-size: 1rem;
  text-align: center;
  padding: 5px 0;
  position: relative;
  margin-top: 100px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.lightmode {
  background-color: #F4F4F4;
  color: #1E201E;
}
.lightmode::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("Images/EldenRing.png") no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
  filter: brightness(80%);
}
.lightmode .section-divider {
  background: linear-gradient(90deg, #1E88A8, #125E75);
}
.lightmode .header {
  background-color: #FFFFFF;
  color: #1E293B;
}
.lightmode .header .back-button {
  background: #b4b4b4;
  color: #1E293B;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.lightmode .header .back-button img {
  filter: invert(1);
}
.lightmode .header .back-button:hover {
  background: #999999;
}
.lightmode .nav-links a {
  color: #1E293B;
}
.lightmode .nav-links a:hover {
  color: #125E75;
}
.lightmode .mode-button:hover img {
  filter: brightness(50%);
}
.lightmode .welcome .welcome-divider .line {
  background-color: #1E293B;
}
.lightmode .welcome .welcome-divider .sword-icon {
  filter: none;
}
.lightmode .welcome h2 {
  color: #1E293B;
}
.lightmode .welcome p {
  color: #1E201E;
}
.lightmode .container {
  background-color: rgba(226, 232, 240, 0.7);
  color: #1E201E;
}
.lightmode .hero-container {
  background: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgb(200, 210, 215) 100%);
}
.lightmode .hero-text {
  color: #1E201E;
}
.lightmode .hero-text h1 {
  color: #125E75;
}
.lightmode .hero-buttons .contact-button {
  background-color: #125E75;
}
.lightmode .hero-buttons .contact-button:hover {
  background: #0b3a49;
}
.lightmode .hobbies .hobbies-container {
  background: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgb(200, 210, 215) 100%);
}
.lightmode .hobbies h2 {
  color: #125E75;
}
.lightmode .hobbies .hobby-item {
  background: rgba(255, 255, 255, 0.5);
}
.lightmode .hobbies .hobby-item p {
  color: #1E201E;
}
.lightmode .hobbies .hobby-item:hover {
  background: rgb(255, 255, 255);
}
.lightmode .hobbies .hobby-item img {
  filter: invert(1);
}
.lightmode .strengths-weaknesses {
  background: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgb(200, 210, 215) 100%);
}
.lightmode .strengths-weaknesses h2 {
  color: #125E75;
}
.lightmode .strengths-weaknesses .strengths,
.lightmode .strengths-weaknesses .weaknesses {
  background: rgba(255, 255, 255, 0.5);
  color: #1E201E;
}
.lightmode .strengths-weaknesses .strengths h3,
.lightmode .strengths-weaknesses .weaknesses h3 {
  color: #125E75;
}
.lightmode .strengths-weaknesses .strengths:hover,
.lightmode .strengths-weaknesses .weaknesses:hover {
  background: rgb(255, 255, 255);
}
.lightmode .strengths-weaknesses .strengths img,
.lightmode .strengths-weaknesses .weaknesses img {
  filter: invert(1);
}
.lightmode .contact {
  background: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgb(200, 210, 215) 100%);
}
.lightmode .contact h2 {
  color: #125E75;
}
.lightmode .contact p {
  color: #1E201E;
}
.lightmode .contact .contact-container .contact-button {
  background: #125E75;
}
.lightmode .contact .contact-container .contact-button:hover {
  background: #0b3a49;
}
.lightmode .footer {
  background: #FFFFFF;
  color: #1E201E;
  border-top: 1px solid rgba(226, 232, 240, 0.7);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.welcome h2, .welcome p {
  animation: fadeIn 1s ease-in-out;
}

.header {
  animation: slideInDown 1s ease-in-out;
}

@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.footer {
  animation: slideInUp 1s ease-in-out;
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.section-divider {
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #3B82F6, #60A5FA);
  margin: 30px 0;
  border-radius: 10px;
  animation: glowing-line 2s infinite alternate;
}

@keyframes glowing-line {
  0% {
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
  }
  100% {
    box-shadow: 0 0 15px rgb(59, 130, 246);
  }
}
.hero-container {
  animation: fadeIn 1s ease-in-out;
}

.hero-text {
  animation: slideInLeft 1s ease-in-out;
}

.hero-image {
  animation: slideInRight 1s ease-in-out;
}

.hobbies-container {
  animation: fadeSlideIn 1s ease-in-out;
}

.hobby-item {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.hobby-item:nth-child(1) {
  animation-delay: 0.2s;
}

.hobby-item:nth-child(2) {
  animation-delay: 0.4s;
}

.hobby-item:nth-child(3) {
  animation-delay: 0.6s;
}

.hobby-item:nth-child(4) {
  animation-delay: 0.8s;
}

.strengths-weaknesses {
  animation: fadeSlideIn 1s ease-in-out;
}

.strengths {
  animation: slideInLeft 1s ease-in-out;
}

.weaknesses {
  animation: slideInRight 1s ease-in-out;
}

.strengths li, .weaknesses li {
  opacity: 0;
  animation: fadeIn 0.8s ease-in-out forwards;
}

.strengths li:nth-child(1), .weaknesses li:nth-child(1) {
  animation-delay: 0.2s;
}

.strengths li:nth-child(2), .weaknesses li:nth-child(2) {
  animation-delay: 0.4s;
}

.strengths li:nth-child(3), .weaknesses li:nth-child(3) {
  animation-delay: 0.6s;
}

.contact {
  animation: fadeIn 1s ease-in-out;
}

.contact-container {
  animation: slideInUp 1s ease-in-out;
}

@media (max-width: 1280px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
  }
  .hero-image img {
    width: 220px;
  }
  .hero-buttons {
    justify-content: center !important;
  }
  .hobby-grid {
    grid-template-columns: 1fr;
  }
  .strength-weakness-container {
    flex-direction: column;
    gap: 40px;
  }
}
@media (min-width: 769px) {
  .menu {
    position: static;
    width: auto;
    height: auto;
    background: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    right: 0;
  }
  .nav-links {
    display: flex;
    gap: 20px;
  }
  .open-menu,
  .close-menu {
    display: none;
  }
}
@media (max-width: 768px) {
  .lightmode .menu .nav-links a {
    color: #1E201E;
    background: rgba(0, 0, 0, 0.1);
  }
  .lightmode .menu .nav-links a:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  .nav-container {
    position: relative;
  }
  .nav-links {
    display: none;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100vh;
    background-color: rgb(30, 41, 59);
    transition: all 0.3s ease-in-out;
    z-index: 110;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 75px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .menu .nav-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .menu .nav-links a {
    font-size: 1.2rem;
    font-weight: bold;
    color: #F1F5F9;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    padding: 20px;
    text-align: center;
    transition: background 0.3s ease-in-out;
    border-radius: 0;
  }
  .menu .nav-links a:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .menu .close-menu {
    position: absolute;
    right: 24px;
    font-size: 2rem;
    cursor: pointer;
  }
  .open-menu,
  .close-menu {
    position: absolute;
    right: 20px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease, color 0.3s ease;
  }
  .open-menu:hover {
    transform: scale(1.1);
    color: #60A5FA;
  }
  .close-menu:hover {
    transform: rotate(90deg) scale(1.1);
    color: #E11D48;
  }
  .open-menu {
    display: block;
    z-index: 130;
  }
  #menu-toggle:checked ~ .open-menu {
    z-index: 90;
  }
  .close-menu {
    top: 15px;
    display: none;
    z-index: 150;
  }
  #menu-toggle:checked ~ .menu .close-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  #menu-toggle:checked ~ .nav-container .menu {
    right: 0;
    z-index: 115;
  }
  #menu-toggle:checked ~ .nav-container .open-menu {
    display: none;
  }
  #menu-toggle:checked ~ .nav-container .menu .close-menu {
    display: block;
    opacity: 1;
    pointer-events: auto;
  }
  .mode-button {
    margin-right: 15px;
    z-index: 90;
  }
  #mode-icon {
    margin-right: 15px;
    width: 35px;
    height: 35px;
  }
  .hero-container {
    padding: 20px;
  }
  .hero-text h1 {
    font-size: 2rem;
  }
  .hero-text p {
    font-size: 1.2rem;
  }
  .contact-container {
    flex-direction: column;
    gap: 15px;
  }
  .contact-button {
    width: 90%;
  }
  .hobby-item {
    flex-direction: column;
    text-align: center;
  }
  .hobby-item img {
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .lightmode .about-section .about-links .icon-group .icon-btn {
    background: white;
    border: 2px solid #1E88A8;
  }
  .lightmode .about-section .about-links .icon-group .icon-btn img {
    filter: invert(0);
  }
  .welcome .welcome-divider {
    margin-bottom: 30px;
  }
  .welcome .welcome-divider .line {
    height: 2px;
  }
  .welcome .welcome-divider .sword-icon {
    width: 30px;
  }
  .welcome h2 {
    font-size: 2rem;
  }
  .welcome p {
    font-size: 1rem;
  }
  .site-title {
    top: 10px;
  }
  .open-menu,
  .close-menu {
    top: 20px;
  }
  .contact .contact-container {
    padding: 10px !important;
    padding-bottom: 20px !important;
  }
  .contact .contact-container h2 {
    font-size: 2rem !important;
  }
  .contact .contact-container .contact-grid {
    grid-template-columns: 1fr !important;
    gap: 15px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .contact .contact-container .contact-item {
    font-size: 0.9rem !important;
    width: 80% !important;
    min-width: 100px !important;
  }
  .footer p {
    font-size: 0.9rem !important;
  }
  .hero-container {
    padding: 15px;
  }
  .hero-text h1 {
    font-size: 1.5rem;
  }
  .hero-text p {
    font-size: 1rem;
  }
  .hero-buttons {
    flex-direction: column;
  }
  .contact-container {
    width: 100%;
  }
  .hobby-grid {
    grid-template-columns: 1fr;
  }
  .strength-weakness-container {
    flex-direction: column;
  }
}/*# sourceMappingURL=about-me-style.css.map */